<p-one-container [isLoading]="this.isLoading$ | async">
  <p-one-header>
    <button
      class="btn btn-outline-light"
      pOneLeading
      pOneSidenavTrigger
      #sidenavTrigger="pOneSidenavTrigger"
    >
      <i class="bi bi-list"></i>
    </button>
    <h2 i18n>Contas / Carteiras</h2>
  </p-one-header>
  <div pOneHeader class="p-one-balance__sub-header">
    <p-one-breadcrumb>
      <p-one-breadcrumb-item link="/main/financial">
        Financeiro
      </p-one-breadcrumb-item>
      <p-one-breadcrumb-item> Contas / Carteiras </p-one-breadcrumb-item>
    </p-one-breadcrumb>
  </div>
  <div pOneHeader class="p-one-balance__sub-header">
    <button class="btn btn-primary btn-sm" (click)="openCreateBalanceDialog()">
      Criar conta / carteira
    </button>

    <p-one-form-field noPadding>
      <input pOneSmallInput />
    </p-one-form-field>
  </div>

  <div pOneFlexColumn gap="16px" style="padding: 16px">
    <table class="table table-sm table-hover table--fix-head">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let balance of this.filtredPaginatedBalances$ | async"
          [pOneContextMenuHost]="contextMenuTemplate"
        >
          <ng-template #contextMenuTemplate>
            <div pOneFlexRow gap="8px" class="p-one-balance__context-menu">
              <button class="btn btn-outline-primary btn-sm">
                <i class="material-icons">edit</i>
              </button>
              <button class="btn btn-outline-danger btn-sm">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </ng-template>
          <td>{{ balance.name }}</td>
          <td>{{ balance.value | currency: 'BRL' }}</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      [collectionSize]="this.filtredBalancesLength$ | async"
      [page]="this.page$ | async"
      [pageSize]="this.pageSize$ | async"
      (pageChange)="setBalancesPage($event)"
      aria-label="Paginação da lista de contas"
    ></ngb-pagination>
  </div>
</p-one-container>
