:host {
  display: block;
}
.p-one-notifications {
  &__popover {
    .popover-body {
      padding: 0px;
    }
  }
  &__title {
    color: var(--bs-gray-900);
  }

  &__list {
    list-style: none;
    padding-inline: 0px;
    margin: 0px;
    padding: 0px;
  }
}
