<p-one-container [isLoading]="this.isLoading$ | async">
  <p-one-header>
    <button
      class="btn btn-outline-light"
      pOneLeading
      pOneSidenavTrigger
      #sidenavTrigger="pOneSidenavTrigger"
    >
      <i class="bi bi-list"></i>
    </button>
    <h2 i18n>Contas / Carteiras</h2>
  </p-one-header>
  <div pOneHeader class="p-one-balance__sub-header">
    <p-one-breadcrumb>
      <p-one-breadcrumb-item link="/main/financial" i18n>
        Financeiro
      </p-one-breadcrumb-item>
      <p-one-breadcrumb-item i18n> Contas / Carteiras </p-one-breadcrumb-item>
    </p-one-breadcrumb>
  </div>
  <div pOneHeader class="p-one-balance__sub-header">
    <button class="btn btn-primary btn-sm" (click)="openCreateWalletDialog()">
      Criar conta / carteira
    </button>

    <p-one-form-field noPadding>
      <input pOneSmallInput />
    </p-one-form-field>
  </div>
  <div pOneFlexColumn gap="16px" style="padding: 16px">
    <table class="table table-sm table-hover table--fix-head">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Saldo</th>
          <th scope="col">Banco</th>
          <th scope="col">Agência / conta</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let wallet of filtredPaginatedWallets$ | async"
          [pOneContextMenuHost]="contextMenuTemplate"
        >
          <ng-template #contextMenuTemplate>
            <div pOneFlexRow gap="8px" class="p-one-balance__context-menu">
              <button
                class="btn btn-outline-success btn-sm"
                (click)="openDepositWalletDialog(wallet)"
              >
                Lançar depósito
              </button>
              <button
                class="btn btn-outline-warning btn-sm"
                (click)="openWithdrawWalletDialog(wallet)"
              >
                Lançar retirada
              </button>
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="openUpdateWalletDialog(wallet)"
              >
                <i class="material-icons">edit</i>
              </button>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="openDeleteWalletDialog(wallet)"
              >
                <i class="material-icons">delete</i>
              </button>
            </div>
          </ng-template>
          <td>{{ wallet.name }}</td>
          <td>{{ wallet.value | currency: 'BRL' }}</td>
          <td>{{ displayBankFn(wallet.bank) }}</td>
          <td>
            <ng-container *ngIf="wallet.agency">
              {{ wallet.agency }} / {{ wallet.number }}
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      [collectionSize]="filtredWalletsLength$ | async"
      [page]="page$ | async"
      [pageSize]="pageSize$ | async"
      (pageChange)="setWalletsPage($event)"
      aria-label="Paginação da lista de contas"
    ></ngb-pagination>
  </div>
</p-one-container>
