<p-one-container [isLoading]="isLoading$ | async">
  <p-one-header>
    <button class="btn btn-outline-light" pOneLeading pOneSidenavTrigger #sidenavTrigger="pOneSidenavTrigger">
      <i class="bi bi-list"></i>
    </button>
    <h2>{{ '@PONE.CATEGORIES.TITLE' | translate }}</h2>
    <p-one-notifications-display-button pOneTrailing></p-one-notifications-display-button>
  </p-one-header>
  <div pOneHeader class="p-one-category__sub-header">
    <p-one-breadcrumb>
      <p-one-breadcrumb-item>
        {{ '@PONE.CATEGORIES.TITLE' | translate }}
      </p-one-breadcrumb-item>
    </p-one-breadcrumb>
  </div>
  <div pOneHeader class="p-one-category__sub-header">
    <button class="btn btn-primary btn-sm" (click)="openCreateCategoryDialog()">
      {{ '@PONE.CATEGORIES.BUTTONS.CREATE_CATEGORY' | translate }}
    </button>

    <button class="btn btn-danger btn-sm" *ngIf="isSomeFiltredCategoriesSelected$ | async"
      (click)="openDeleteCategoryDialog()">
      {{ '@PONE.CATEGORIES.BUTTONS.DELETE_SELECTED_CATEGORIES' | translate }}
    </button>

    <p-one-form-field noPadding>
      <input pOneSmallInput [formControl]="filterControl" />
    </p-one-form-field>
  </div>

  <div pOneFlexColumn gap="16px" style="padding: 16px">
    <table class="table table-sm table-hover table--fix-head">
      <thead>
        <tr>
          <th class="p-one-category__selection-column">
            <p-one-checkbox [isIndeterminated]="
                isSomeButNotAllFiltredCategoriesSelected$ | async
              " [ngModel]="isAllFiltredCategoriesSelected$ | async" (ngModelChange)="toggleSelectMultipleCategories()">
            </p-one-checkbox>
          </th>
          <th scope="col">
            {{ '@PONE.CATEGORIES.TABLE.COLUMNS.NAME' | translate }}
          </th>
          <th scope="col">
            {{ '@PONE.CATEGORIES.TABLE.COLUMNS.DESCRIPTION' | translate }}
          </th>
          <th scope="col">
            {{ '@PONE.CATEGORIES.TABLE.COLUMNS.TYPE' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories$ | async; trackBy: trackByCategoryId" [pOneContextMenuHost]="contextMenuTemplate">
          <ng-template #contextMenuTemplate>
            <div pOneFlexRow gap="8px" class="p-one-category__context-menu">
              <button class="btn btn-outline-primary btn-sm" (click)="openUpdateUpdateCategoryDialog(category)">
                <i class="material-icons">edit</i>
              </button>
              <button class="btn btn-outline-danger btn-sm" (click)="openDeleteCategoryDialog(category.id)">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </ng-template>
          <td class="p-one-category__selection-column">
            <div class="p-one-category__checkbox-container">
              <p-one-checkbox *ngIf="category.id as categoryId" [ngModel]="category.isSelected"
                (ngModelChange)="toggleCategory(categoryId)" [id]="category.id"></p-one-checkbox>
            </div>
          </td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td [ngSwitch]="category.type">
            <i *ngSwitchCase="EntryType.Debit" class="bi bi-arrow-down-short text-danger">
            </i>

            <i *ngSwitchCase="EntryType.Credit" class="bi bi-arrow-up-short text-success"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="filtredCategoriesLength$ | async" [page]="page$ | async"
      [pageSize]="pageSize$ | async" (pageChange)="setCategoriesPage($event)"
      [attr.aria-label]="'@PONE.CATEGORIES.PAGINATION.LABEL' | translate"></ngb-pagination>
  </div>
</p-one-container>