<p-one-dialog [isLoading]="isLoading$ | async">
  <h5 p-one-dialog-header>Alteração de sub categria</h5>
  <p-one-dialog-body>
    <form [formGroup]="this.form">
      <p-one-form-field>
        <label pOneLabel for="categoryNameInput" i18n>Nome</label>
        <input
          #categoryNameInput
          pOneInput
          placeholder="Digite o nome da sub categoria"
          formControlName="name"
          i18n-placehoder
        />
      </p-one-form-field>

      <p-one-form-field>
        <label pOneLabel for="subCategoryCategory" i18n>Categoria</label>
        <input
          #categoryNameInput
          pOneInput
          placeholder="Digite a categoria"
          formControlName="category"
          [pOneAutocomplete]="categoryAutocomplete"
          i18n-placehoder
        />

        <p-one-autocomplete
          #categoryAutocomplete="pOneAutocomplete"
          [displayFn]="displayFn"
        >
          <p-one-option
            [value]="category"
            *ngFor="let category of categories$ | async"
          >
            {{ category.name }}
          </p-one-option>
        </p-one-autocomplete>
      </p-one-form-field>
      <p-one-form-field>
        <label pOneLabel for="descriptionInput" i18n>Descrição</label>
        <textarea
          #descriptionInput
          pOneInput
          placeholder="Digite a descrição da sub categoria"
          formControlName="description"
          i18n-placeholder
        ></textarea>
      </p-one-form-field>
    </form>
  </p-one-dialog-body>
  <p-one-dialog-footer>
    <button class="btn btn-outline-danger btn-sm" pOneDialogClose i18n>
      Cancelar
    </button>
    <button
      class="btn btn-primary btn-sm"
      [disabled]="isCreateSubCategoryDisabled$ | async"
      (click)="this.updateSubCategory()"
      i18n
    >
      Alterar sub categoria
    </button>
  </p-one-dialog-footer>
</p-one-dialog>
