<p-one-container>
  <p-one-header>
    <button
      class="btn btn-outline-light"
      pOneLeading
      pOneSidenavTrigger
      #sidenavTrigger="pOneSidenavTrigger"
    >
      <i class="bi bi-list"></i>
    </button>
    <h2>{{ '@PONE.HOME.TITLE' | translate }}</h2>
    <p-one-notifications-display-button
      pOneTrailing
    ></p-one-notifications-display-button>
  </p-one-header>
  <div style="display: flex; flex-direction: row; gap: 16px; padding: 16px">
    <p-one-wallet-card
      *ngFor="let wallet of wallets$ | async"
      [wallet]="wallet"
    ></p-one-wallet-card>
  </div>
</p-one-container>
