<p-one-sidenav-container>
  <p-one-sidenav>
    <section pOneSidenavHeader>
      <h1>TEste</h1>
      <h1>TEste</h1>
      <h1>TEste</h1>
      <h1>TEste</h1>
      <h1>TEste</h1>
    </section>
    <p-one-sidenav-collapse>
      <ng-container pOneSidenavIcon>
        <i class="material-icons-outlined"> settings </i>
      </ng-container>

      Teste

      <p-one-sidenav-item> Teste </p-one-sidenav-item>
      <p-one-sidenav-item> Teste </p-one-sidenav-item>
      <p-one-sidenav-item> Teste </p-one-sidenav-item>
    </p-one-sidenav-collapse>
    <p-one-sidenav-item> Teste </p-one-sidenav-item>
    <p-one-sidenav-item> Teste </p-one-sidenav-item>
    <p-one-sidenav-item> Teste </p-one-sidenav-item>
  </p-one-sidenav>

  <div pOneFlexRow>
    <button pOneSidenavTrigger>
      <i class="material-icons">menu</i>
    </button>
  </div>
  Teste
</p-one-sidenav-container>
