<p-one-dialog [isLoading]="isLoading$ | async">
  <h5 p-one-dialog-header>
    <ng-container *ngIf="willMoreThanOneBalanceBeDeleted$ | async">
      Excluir carteira/conta
    </ng-container>
    <ng-container *ngIf="willOnlyOneBalanceBeDeleted$ | async">
      Excluir carteira/conta
    </ng-container>
  </h5>
  <p-one-dialog-body>
    <p>
      <ng-container *ngIf="willMoreThanOneBalanceBeDeleted$ | async">
        Tem certeza que deseja apagar as contas/carteiras
      </ng-container>
      <ng-container *ngIf="willOnlyOneBalanceBeDeleted$ | async">
        Tem certeza que deseja apagar a conta/carteira
      </ng-container>
      <b> {{ balancesNames$ | async }} </b>?
    </p>
  </p-one-dialog-body>
  <p-one-dialog-footer>
    <button class="btn btn-outline-danger btn-sm" pOneDialogClose>
      Cancelar
    </button>
    <button class="btn btn-primary btn-sm" (click)="deleteBalances()">
      <ng-container *ngIf="willMoreThanOneBalanceBeDeleted$ | async">
        Excluir entradas
      </ng-container>
      <ng-container *ngIf="willOnlyOneBalanceBeDeleted$ | async">
        Excluir entrada
      </ng-container>
    </button>
  </p-one-dialog-footer>
</p-one-dialog>
