<p-one-dialog [isLoading]="isLoading$ | async">
  <h5 p-one-dialog-header>
    <ng-container *ngIf="willMoreThanOneEntryBeDeleted$ | async">
      Excluir entradas
    </ng-container>
    <ng-container *ngIf="willOnlyOneEntryBeDeleted$ | async">
      Excluir entrada
    </ng-container>
  </h5>
  <p-one-dialog-body>
    <p>
      <ng-container *ngIf="willMoreThanOneEntryBeDeleted$ | async">
        Tem certeza que deseja apagar as entradas
      </ng-container>
      <ng-container *ngIf="willOnlyOneEntryBeDeleted$ | async">
        Tem certeza que deseja apagar a entrada
      </ng-container>
      <b> {{ entriesTitles$ | async }} </b>?
    </p>
  </p-one-dialog-body>
  <p-one-dialog-footer>
    <button class="btn btn-outline-danger btn-sm" pOneDialogClose>
      Cancelar
    </button>
    <button class="btn btn-primary btn-sm" (click)="deleteEntries()">
      <ng-container *ngIf="willMoreThanOneEntryBeDeleted$ | async">
        Excluir entradas
      </ng-container>
      <ng-container *ngIf="willOnlyOneEntryBeDeleted$ | async">
        Excluir entrada
      </ng-container>
    </button>
  </p-one-dialog-footer>
</p-one-dialog>
