<p-one-dialog [isLoading]="isLoading$ | async">
  <h5 class="card-header">Criação de categoria</h5>
  <p-one-dialog-body>
    <form [formGroup]="this.form">
      <p-one-form-field>
        <label pOneLabel for="categoryNameInput" i18n>Nome</label>
        <input
          #categoryNameInput
          pOneInput
          placeholder="Digite o nome da categoria"
          formControlName="name"
          i18n-placehoder
        />
      </p-one-form-field>
      <p-one-form-field>
        <label pOneLabel for="descriptionInput" i18n>Descrição</label>
        <textarea
          #descriptionInput
          pOneInput
          placeholder="Digite a descrição da categoria"
          formControlName="description"
        ></textarea>
      </p-one-form-field>
    </form>
  </p-one-dialog-body>
  <p-one-dialog-footer>
    <button class="btn btn-outline-danger" pOneDialogClose>Cancelar</button>
    <button
      class="btn btn-primary"
      [disabled]="isCreateCategoryDisabled$ | async"
      (click)="this.createCategory()"
    >
      Criar categoria
    </button>
  </p-one-dialog-footer>
</p-one-dialog>
