<p-one-sidenav-container>
  <p-one-sidenav>
    <section pOneSidenavHeader>
      <ng-container *ngIf="this.user$ | async as user">
        <h1>Olá, {{ user.name | pOneFirstName }}</h1>
      </ng-container>
    </section>
    <p-one-sidenav-item link="/home" tooltip="Home">
      <i pOneIcon class="bi bi-house"></i>
      Home
    </p-one-sidenav-item>

    <p-one-sidenav-item link="/main/settings">
      <i pOneIcon class="bi bi-gear"></i>
      Configurações
    </p-one-sidenav-item>

    <p-one-sidenav-item link="/main/dashboard" tooltip="Dashboard">
      <i pOneIcon class="bi bi-bar-chart"></i>
      Dashboard
    </p-one-sidenav-item>

    <p-one-sidenav-collapse link="/main/entries" tooltip="Entradas">
      <i pOneIcon class="bi bi-clipboard"></i>
      Entradas

      <p-one-sidenav-item link="/main/entries/list" tooltip="Todas as contas">
        <i pOneIcon class="bi bi-arrow-down-up"></i>
        Todas as contas
      </p-one-sidenav-item>

      <p-one-sidenav-item link="/main/entries/credits" tooltip="Créditos">
        <i pOneIcon class="bi bi-arrow-up"></i>
        Contas a receber
      </p-one-sidenav-item>

      <p-one-sidenav-item link="/main/entries/debits" tooltip="Débitos">
        <i pOneIcon class="bi bi-arrow-down"></i>
        Contas a pagar
      </p-one-sidenav-item>

      <p-one-sidenav-item link="/main/entries/create" tooltip="Criar entrada">
        <i pOneIcon class="bi bi-clipboard-plus"></i>
        Criar entrada
      </p-one-sidenav-item>
    </p-one-sidenav-collapse>

    <p-one-sidenav-item link="/main/categories" tooltip="Categorias">
      <i pOneIcon class="bi bi-tag"></i>
      Categorias
    </p-one-sidenav-item>

    <p-one-sidenav-item link="/main/sub-categories" tooltip="Sub categorias">
      <i pOneIcon class="bi bi-tags"></i>
      Sub categorias
    </p-one-sidenav-item>

    <p-one-sidenav-item link="/main/wallets" tooltip="Contas / carteiras">
      <i pOneIcon class="bi bi-bank"></i>
      Contas / Cateiras
    </p-one-sidenav-item>
    <p-one-sidenav-item tooltip="Sair" (click)="signOut()">
      <i
        pOneIcon
        class="bi bi-box-arrow-right"
        [style.color]="'var(--bs-danger)'"
      ></i>
      Sair
    </p-one-sidenav-item>
  </p-one-sidenav>
  <router-outlet></router-outlet>
</p-one-sidenav-container>
