<p-one-dialog [isLoading]="isLoading$ | async">
  <h5 p-one-dialog-header>
    {{ '@PONE.CATEGORIES.MODALS.UPDATE.TITLE' | translate }}
  </h5>
  <p-one-dialog-body>
    <form [formGroup]="this.form">
      <div pOneGrid gap="16px">
        <p-one-form-field pOneGridColumn="minmax(0px, 1fr)">
          <label pOneLabel for="categoryNameInput">{{
            '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.NAME.LABEL'
              | translate
          }}</label>
          <input
            #categoryNameInput
            pOneInput
            [placeholder]="
              '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.NAME.PLACEHOLDER'
                | translate
            "
            formControlName="name"
          />
        </p-one-form-field>
        <p-one-form-field pOneGridColumn="200px">
          <label pOneLabel for="categoryNameInput">
            {{
              '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.TYPE.LABEL'
                | translate
            }}
          </label>
          <select pOneInput formControlName="type">
            <option [ngValue]="EntryType.Debit">
              {{
                '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.TYPE.OPTIONS.DEBIT'
                  | translate
              }}
            </option>
            <option [ngValue]="EntryType.Credit">
              {{
                '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.TYPE.OPTIONS.CREDIT'
                  | translate
              }}
            </option>
          </select>
        </p-one-form-field>
      </div>
      <p-one-form-field>
        <label pOneLabel for="descriptionInput">
          {{
            '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.DESCRIPTION.LABEL'
              | translate
          }}
        </label>
        <textarea
          #descriptionInput
          pOneInput
          [placeholder]="
            '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.DESCRIPTION.PLACEHOLDER'
              | translate
          "
          formControlName="description"
        ></textarea>
      </p-one-form-field>
      <p-one-form-field>
        <label for="colorInput">{{
          '@PONE.CATEGORIES.MODALS.UPDATE.FIELDS.COLOR.LABEL' | translate
        }}</label>
        <p-one-color-picker
          #colorInput
          formControlName="color"
        ></p-one-color-picker>
      </p-one-form-field>
    </form>
  </p-one-dialog-body>
  <p-one-dialog-footer>
    <button class="btn btn-outline-danger btn-sm" pOneDialogClose>
      {{ '@PONE.CATEGORIES.MODALS.UPDATE.BUTTONS.CANCEL' | translate }}
    </button>
    <button
      class="btn btn-primary btn-sm"
      [disabled]="isCreateCategoryDisabled$ | async"
      (click)="updateCategory()"
    >
      {{
        '@PONE.CATEGORIES.MODALS.UPDATE.BUTTONS.UPDATE_CATEGORY'
          | translate
      }}
    </button>
  </p-one-dialog-footer>
</p-one-dialog>
