<p-one-dialog [isLoading]="isLoading$ | async">
  <h2 p-one-dialog-header>Found transfer</h2>
  <p-one-dialog-body>
    <form [formGroup]="form">
      <div class="row">
        <p-one-form-field class="col">
          <label pOneLabel>Titulo</label>
          <input pOneInput formControlName="title" />
        </p-one-form-field>
        <p-one-form-field class="col">
          <label pOneLabel>
            Valor da transferencia ({{ currency$ | async }})
          </label>
          <input pOneInput currencyMask formControlName="value" />
        </p-one-form-field>
      </div>
      <p-one-stepper #stepper [validate]="true">
        <p-one-step header="Origem" formGroupName="origin">
          <p-one-found-transfer-step
            [isWalletDisabled]="hasData$ | async"
            [categories]="debitCategories$ | async"
            [wallets]="originWallets$ | async"
          ></p-one-found-transfer-step>
        </p-one-step>
        <p-one-step header="Destino" formGroupName="destination">
          <p-one-found-transfer-step
            [categories]="creditCategories$ | async"
            [wallets]="destinationWallets$ | async"
          ></p-one-found-transfer-step>
        </p-one-step>
      </p-one-stepper>
    </form>
  </p-one-dialog-body>
  <p-one-dialog-footer>
    <button class="btn btn-outline-danger btn-sm" pOneDialogClose>
      Cancelar
    </button>
    <button class="btn btn-primary btn-sm" (click)="stepper.previous()">
      Anterior
    </button>
    <button class="btn btn-primary btn-sm" (click)="stepper.next()">
      Próximo
    </button>
    <button class="btn btn-primary btn-sm" (click)="transfer()">
      Confirmar depósito
    </button>
  </p-one-dialog-footer>
</p-one-dialog>
