<p-one-dialog [isLoading]="isSomethingLoading$ | async">
  <h5 class="card-header">Filtrar entradas</h5>
  <p-one-dialog-body>
    <form [formGroup]="form">
      <div pOneGrid gap="16px">
        <p-one-form-field pOneGridColumn="minmax(0px, 1fr)">
          <label pOneLabel for="categoryMultipleAutocomplete" i18n>
            Categorias
          </label>
          <p-one-multiple-autocomplete
            #categoryMultipleAutocomplete
            [pOneAutocomplete]="categoriesAutocomplete"
            (search$)="setCategoriesFilter($event)"
            [displayFn]="displayFn"
            formControlName="categories"
          >
          </p-one-multiple-autocomplete>
          <p-one-autocomplete #categoriesAutocomplete="pOneAutocomplete">
            <p-one-option
              *ngFor="let category of filtredCategories$ | async"
              [value]="category"
            >
              {{ category.name }}
            </p-one-option>
          </p-one-autocomplete>
        </p-one-form-field>

        <p-one-form-field pOneGridColumn="minmax(0px, 1fr)">
          <label pOneLabel for="subCategoryMultipleAutocomplete" i18n>
            Sub categorias
          </label>
          <p-one-multiple-autocomplete
            #subCategoryMultipleAutocomplete
            [pOneAutocomplete]="subCategoriesAutocomplete"
            (search$)="setSubCategoriesFilter($event)"
            [displayFn]="displayFn"
            formControlName="subCategories"
          >
          </p-one-multiple-autocomplete>
          <p-one-autocomplete #subCategoriesAutocomplete="pOneAutocomplete">
            <p-one-option
              *ngFor="let subCategory of filtredSubCategories$ | async"
              [value]="subCategory"
            >
              {{ subCategory.name }}
            </p-one-option>
          </p-one-autocomplete>
        </p-one-form-field>
      </div>
      <div pOneGrid gap="16px">
        <p-one-form-field pOneGridColumn="minmax(0px, 1fr)">
          <label pOneLabel for="walletsMultipleAutocomplete" i18n>
            Contas / Carteiras
          </label>
          <p-one-multiple-autocomplete
            #walletsMultipleAutocomplete
            [pOneAutocomplete]="walletsAutocomplete"
            (search$)="setWalletsFilter($event)"
            [displayFn]="displayFn"
            formControlName="wallets"
          >
          </p-one-multiple-autocomplete>
          <p-one-autocomplete #walletsAutocomplete="pOneAutocomplete">
            <p-one-option
              *ngFor="let wallet of filtredWallets$ | async"
              [value]="wallet"
            >
              {{ wallet.name }}
            </p-one-option>
          </p-one-autocomplete>
        </p-one-form-field>
      </div>
    </form>
  </p-one-dialog-body>
  <p-one-dialog-footer>
    <button class="btn btn-outline-danger btn-sm" pOneDialogClose>
      Cancelar
    </button>
    <button class="btn btn-primary btn-sm" (click)="this.confirm()">
      Filtrar entradas
    </button>
  </p-one-dialog-footer>
</p-one-dialog>
