.p-one-landing {
  &__main {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 32px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-inline: 0px;
      margin-inline: 0px;
      margin: 0px;
    }
  }

  &__trailing {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
