<p-one-sidenav-container>
  <p-one-sidenav>
    <p-one-user-sidenav-item pOneSideNavItem></p-one-user-sidenav-item>
    <p-one-sidenav-item
      link="/main/home"
      [tooltip]="'@PONE.MAIN.SIDENAV.HOME' | translate"
    >
      <i pOneIcon class="bi bi-house"></i>
      {{ '@PONE.MAIN.SIDENAV.HOME' | translate }}
    </p-one-sidenav-item>

    <p-one-sidenav-item
      link="/main/financial/settings"
      [tooltip]="'@PONE.MAIN.SIDENAV.SETTINGS' | translate"
    >
      <i pOneIcon class="bi bi-gear"></i>
      {{ '@PONE.MAIN.SIDENAV.SETTINGS' | translate }}
    </p-one-sidenav-item>

    <p-one-sidenav-item
      link="/main/financial/dashboard"
      [tooltip]="'@PONE.MAIN.SIDENAV.DASHBOARD' | translate"
    >
      <i pOneIcon class="bi bi-bar-chart"></i>
      {{ '@PONE.MAIN.SIDENAV.DASHBOARD' | translate }}
    </p-one-sidenav-item>

    <p-one-sidenav-collapse
      link="/main/financial/entries"
      [tooltip]="'@PONE.MAIN.SIDENAV.ENTRIES.TITLE' | translate"
    >
      <i pOneIcon class="bi bi-clipboard"></i>
      {{ '@PONE.MAIN.SIDENAV.ENTRIES.TITLE' | translate }}

      <p-one-sidenav-item
        link="/main/financial/entries/list"
        [tooltip]="'@PONE.MAIN.SIDENAV.ENTRIES.ALL_BILLS' | translate"
      >
        <i pOneIcon class="bi bi-arrow-down-up"></i>
        {{ '@PONE.MAIN.SIDENAV.ENTRIES.ALL_BILLS' | translate }}
      </p-one-sidenav-item>

      <p-one-sidenav-item
        link="/main/financial/entries/credits"
        [tooltip]="
          '@PONE.MAIN.SIDENAV.ENTRIES.BILLS_TO_BE_RECEIVED' | translate
        "
      >
        <i pOneIcon class="bi bi-arrow-up"></i>
        {{ '@PONE.MAIN.SIDENAV.ENTRIES.BILLS_TO_BE_RECEIVED' | translate }}
      </p-one-sidenav-item>

      <p-one-sidenav-item
        link="/main/financial/entries/debits"
        [tooltip]="'@PONE.MAIN.SIDENAV.ENTRIES.BILLS_TO_PAY' | translate"
      >
        <i pOneIcon class="bi bi-arrow-down"></i>
        {{ '@PONE.MAIN.SIDENAV.ENTRIES.BILLS_TO_PAY' | translate }}
      </p-one-sidenav-item>

      <p-one-sidenav-item
        link="/main/financial/entries/create"
        [tooltip]="'@PONE.MAIN.SIDENAV.ENTRIES.CREATE_ENTRY' | translate"
      >
        <i pOneIcon class="bi bi-clipboard-plus"></i>
        {{ '@PONE.MAIN.SIDENAV.ENTRIES.CREATE_ENTRY' | translate }}
      </p-one-sidenav-item>
    </p-one-sidenav-collapse>

    <p-one-sidenav-item
      link="/main/financial/categories"
      [tooltip]="'@PONE.MAIN.SIDENAV.CATEGORIES' | translate"
    >
      <i pOneIcon class="bi bi-tag"></i>
      {{ '@PONE.MAIN.SIDENAV.CATEGORIES' | translate }}
    </p-one-sidenav-item>

    <p-one-sidenav-item
      link="/main/financial/sub-categories"
      [tooltip]="'@PONE.MAIN.SIDENAV.SUB_CATEGORIES' | translate"
    >
      <i pOneIcon class="bi bi-tags"></i>
      {{ '@PONE.MAIN.SIDENAV.SUB_CATEGORIES' | translate }}
    </p-one-sidenav-item>

    <p-one-sidenav-item
      link="/main/financial/wallets"
      [tooltip]="'@PONE.MAIN.SIDENAV.ACCOUNTS_OR_WALLETS' | translate"
    >
      <i pOneIcon class="bi bi-bank"></i>
      {{ '@PONE.MAIN.SIDENAV.ACCOUNTS_OR_WALLETS' | translate }}
    </p-one-sidenav-item>
  </p-one-sidenav>
  <router-outlet></router-outlet>
</p-one-sidenav-container>
