<p-one-container [isLoading]="this.isLoading$ | async">
  <p-one-header pOneHeader>
    <button
      class="btn btn-outline-light"
      pOneLeading
      pOneSidenavTrigger
      #sidenavTrigger="pOneSidenavTrigger"
    >
      <i class="bi bi-list"></i>
    </button>
    <h2>Entradas</h2>
  </p-one-header>
  <div pOneHeader class="p-one-entry-list__sub-header">
    <p-one-breadcrumb>
      <p-one-breadcrumb-item link="/main/financial">
        Financeiro
      </p-one-breadcrumb-item>
      <p-one-breadcrumb-item>Entradas</p-one-breadcrumb-item>
    </p-one-breadcrumb>
    <p-one-filter-display
      [data]="filterToDisplay$ | async"
      (removed$)="remove($event)"
    ></p-one-filter-display>
  </div>
  <div pOneHeader class="p-one-entry-list__sub-header">
    <button
      class="btn btn-primary btn-sm"
      routerLink="/main/financial/entries/create"
    >
      Criar entrada
    </button>

    <div pOneFlexRow alignment="center" gap="8px">
      <button
        class="btn btn-primary btn-sm"
        (click)="openEntryListFilterDialog()"
      >
        Abrir filtro completo
      </button>
      <p-one-month-year-picker
        [value]="dateFilter$ | async"
        (change$)="setDateFilter($event)"
      ></p-one-month-year-picker>
      <p-one-radio
        appearance="outline"
        color="secondary"
        [value]="typeFilter$ | async"
        (change$)="setTypeFilter($event)"
      >
        <p-one-radio-button [value]="null">Todos</p-one-radio-button>
        <p-one-radio-button [value]="EntryType.Credit">
          <span> Crédito </span>
          <i class="bi bi-arrow-up text-success"> </i>
        </p-one-radio-button>
        <p-one-radio-button [value]="EntryType.Debit">
          <span> Débito </span>
          <i class="bi bi-arrow-down text-danger"> </i>
        </p-one-radio-button>
      </p-one-radio>
    </div>
  </div>

  <div pOneFlexColumn gap="16px" style="padding: 16px">
    <table class="table table-sm table-hover table--fix-head">
      <thead>
        <tr>
          <th scope="col">Nº Parcela</th>
          <th scope="col">Titulo</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Categoria</th>
          <th scope="col">Sub categoria</th>
          <th scope="col">Valor</th>
          <th scope="col">Tipo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let entry of this.entries$ | async"
          [pOneContextMenuHost]="contextMenuTemplate"
        >
          <ng-template #contextMenuTemplate>
            <div pOneFlexRow gap="8px" class="p-one-entry-list__context-menu">
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="openPayEntryDialog(entry)"
                [disabled]="entry.isPaid"
              >
                <span class="material-icons-outlined"> payment </span>
              </button>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="openDeleteEntryDialog(entry)"
              >
                <i class="material-icons">delete</i>
              </button>
            </div>
          </ng-template>
          <td>({{ entry.index }}/{{ entry.recurrences }})</td>
          <td>{{ entry.title }}</td>
          <td>{{ entry.dueDate | date }}</td>
          <td>{{ entry.category?.title }}</td>
          <td>{{ entry.subCategory?.title }}</td>
          <td>{{ entry.value | currency: 'BRL' }}</td>
          <td [ngSwitch]="entry.type">
            <i
              *ngSwitchCase="EntryType.Debit"
              class="bi bi-arrow-down text-danger"
            >
            </i>

            <i
              *ngSwitchCase="EntryType.Credit"
              class="bi bi-arrow-up text-success"
            ></i>
          </td>
          <td>
            <ng-template #barCodeTemplate>
              {{ entry.barCode }}
            </ng-template>
            <i
              *ngIf="entry.barCode"
              class="bi bi-upc"
              [pOneTooltip]="barCodeTemplate"
              trigger="hover"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</p-one-container>
