<p-one-container>
  <p-one-header>
    <b pOneLeading>POne</b>

    <div pOneTrailing pOneFlexRow gap="10px">
      <button class="btn btn-sm btn-outline-light" routerLink="/user/sign-up">
        Quero me cadastrar
      </button>
      <button class="btn btn-sm btn-secondary" (click)="signIn()">
        Entrar
      </button>
    </div>
  </p-one-header>

  <div style="display: flex; flex-direction: column; align-items: center">
    <section>
      <br />
      <h1>Bem vindo ao POne Financeiro</h1>

      <p>No momento o sistema conta com as seguintes funcionalidades:</p>
    </section>

    <section>
      <h3>Dashboard</h3>
      <p>
        Com o dashboard você pode ver como esta sua vida financeira visualizando
        gráficos de saldos em diferentes carteiras, balanço mensal de entradas e
        saidas, e alguns outros gráficos que podem te ajudar a se organizar.
      </p>
    </section>

    <img src="assets/img/analytics.svg" style="width: 400px" />

    <section>
      <h3>Dashboard</h3>
      <p>
        Com o dashboard você pode ver como esta sua vida financeira visualizando
        gráficos de saldos em diferentes carteiras, balanço mensal de entradas e
        saidas, e alguns outros gráficos que podem te ajudar a se organizar.
      </p>
    </section>

    <section>
      <p>
        Esse é um sistema feito para testar minhas habilidade de programação, e
        também para me ajudar a organizar minha vida financeira.
      </p>

      <p>
        Com isso em mente se você chegou até aqui, e pretente usar o sistema,
        pode aproveitar para me dar feedback sobre o que preciso melhorar no
        sistema no contato do email:
        <a href="mailto://uilliansl@outlook.com">uilliansl@outlook.com</a>
      </p>
      <br />
    </section>
  </div>
</p-one-container>
