/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

html,
body {
  margin: 0px;
  padding: 0px;

  height: 100vh;
  width: 100vw;

  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^='col-'],
  & > [class*=' col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
