@import '../../../libs/shared/src/lib/theme';
@import 'node_modules/bootstrap/scss/bootstrap';

html,
body {
  margin: 0px;
  padding: 0px;

  height: 100vh;
  width: 100vw;

  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^='col-'],
  & > [class*=' col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.credit {
  color: var(--bs-success);
}

.debit {
  color: var(--bs-danger);
}

.initial-loading {
  height: 100vh;
  width: 100vh;

  &__spinners {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}


