.p-one-second-step {
  &__recurrences {
    max-height: 300px;
    overflow: auto;
  }
}

.rotate-loop {
  animation: rotationAnimation 2s infinite ease-in-out;
}

@keyframes rotationAnimation {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
