<p-one-container [isLoading]="this.isLoading$ | async">
  <p-one-header>
    <button
      class="btn btn-outline-light"
      pOneLeading
      pOneSidenavTrigger
      #sidenavTrigger="pOneSidenavTrigger"
    >
      <i class="material-icons"> menu </i>
    </button>
    <h2 i18n>Sub categorias</h2>
  </p-one-header>

  <div pOneHeader class="p-one-sub-category__sub-header">
    <button class="btn btn-primary btn-sm" (click)="openCreateCategoryDialog()">
      Criar sub categoria
    </button>

    <button
      class="btn btn-danger btn-sm"
      *ngIf="isSomeFiltredSubCategoriesSelected$ | async"
      (click)="openDeleteCategoryDialog()"
    >
      Deletar sub categorias selecionadas
    </button>

    <p-one-form-field noPadding>
      <input pOneSmallInput [formControl]="this.filterControl" />
    </p-one-form-field>
  </div>

  <div pOneFlexColumn gap="16px" style="padding: 16px">
    <table class="table table-sm table-hover table--fix-head">
      <thead>
        <tr>
          <th class="p-one-sub-category__selection-column">
            <p-one-checkbox
              [isIndeterminated]="
                this.isSomeButNotAllFiltredCategoriesSelected$ | async
              "
              [ngModel]="this.isAllFiltredSubCategoriesSelected$ | async"
              (ngModelChange)="toggleSelectMultipleCategories()"
            ></p-one-checkbox>
          </th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let category of this.categories$ | async"
          [pOneContextMenuHost]="contextMenuTemplate"
        >
          <ng-template #contextMenuTemplate>
            <div pOneFlexRow gap="8px" class="p-one-sub-category__context-menu">
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="openUpdateUpdateCategoryDialog(category)"
              >
                <i class="material-icons">edit</i>
              </button>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="this.openDeleteCategoryDialog(category.id)"
              >
                <i class="material-icons">delete</i>
              </button>
            </div>
          </ng-template>
          <td class="p-one-sub-category__selection-column">
            <div class="p-one-sub-category__checkbox-container">
              <p-one-checkbox
                *ngIf="category.id as categoryId"
                [ngModel]="category.isSelected"
                (ngModelChange)="toggleSubCategory(categoryId)"
                [id]="category.id"
              ></p-one-checkbox>
            </div>
          </td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      [collectionSize]="this.filtredSubCategoriesLength$ | async"
      [page]="this.page$ | async"
      [pageSize]="this.pageSize$ | async"
      (pageChange)="setCategoriesPage($event)"
      aria-label="Paginação da lista de sub categorias"
    ></ngb-pagination>
  </div>
</p-one-container>
