<section class="card" [formGroup]="this.form">
  <div class="card-body">
    <div pOneGrid columns="minmax(0px, 1fr) 200px" gap="16px">
      <p-one-form-field>
        <label for="titleInput" pOneLabel>Titulo</label>
        <input #titleInput type="text" pOneInput formControlName="title" />
      </p-one-form-field>
      <p-one-form-field>
        <label pOneLabel for="entryTypeSelect" i18n>Tipo</label>
        <select #entryTypeSelect class="form-control" formControlName="type">
          <option [value]="EntryType.Credit">Crédito</option>
          <option [value]="EntryType.Debit">Débito</option>
        </select>
      </p-one-form-field>
    </div>
    <div pOneGrid columns="minmax(0px, 1fr) minmax(0px, 1fr)" gap="16px">
      <p-one-form-field>
        <label for="autoCompleteCategory" pOneLabel>Categoria</label>
        <input
          [pOneAutocomplete]="autoCompleteCategory"
          formControlName="category"
        />
        <p-one-autocomplete
          #autoCompleteCategory="pOneAutocomplete"
          [displayFn]="displayFn"
        >
          <p-one-option
            *ngFor="let category of this.categories$ | async"
            [value]="category"
          >
            {{ category.name }}
          </p-one-option>
        </p-one-autocomplete>
      </p-one-form-field>
      <p-one-form-field>
        <label pOneLabel for="autoCompleteSubCategory" i18n>
          Sub categoria
        </label>
        <input
          pOneInput
          [pOneAutocomplete]="autoCompleteSubCategory"
          formControlName="subCategory"
        />
        <p-one-autocomplete
          #autoCompleteSubCategory="pOneAutocomplete"
          [displayFn]="displayFn"
        >
          <p-one-option
            *ngFor="let subCategory of this.subCategories$ | async"
            [value]="subCategory"
          >
            {{ subCategory.name }}
          </p-one-option>
        </p-one-autocomplete>
      </p-one-form-field>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-primary" pOneStepperNext i18n>
      Próximo
    </button>
  </div>
</section>
