<p-one-sidenav-container>
  <p-one-sidenav>
    <section pOneSidenavHeader>
      <ng-container *ngIf="this.user$ | async as user">
        <h1>Olá, {{ user.name | pOneFirstName }}</h1>
      </ng-container>
    </section>
    <p-one-sidenav-item link="/home">
      <i pOneIcon class="bi bi-house"></i>
      Home
    </p-one-sidenav-item>

    <p-one-sidenav-item link="/main/settings">
      <i pOneIcon class="bi bi-gear"></i>
      Configurações
    </p-one-sidenav-item>

    <p-one-sidenav-collapse link="/main/financial">
      <i pOneIcon class="bi bi-currency-dollar"></i>

      Financeiro
      <p-one-sidenav-collapse link="/main/financial/entries">
        Entradas
        <p-one-sidenav-item link="/main/financial/entries/list">
          Todas as contas
        </p-one-sidenav-item>

        <p-one-sidenav-item link="/main/financial/entries/credits">
          Contas a receber
        </p-one-sidenav-item>

        <p-one-sidenav-item link="/main/financial/entries/debits">
          Contas a pagar
        </p-one-sidenav-item>

        <p-one-sidenav-item link="/main/financial/entries/create">
          Criar entrada
        </p-one-sidenav-item>
      </p-one-sidenav-collapse>

      <p-one-sidenav-item link="/main/financial/categories">
        Categorias
      </p-one-sidenav-item>

      <p-one-sidenav-item link="/main/financial/sub-categories">
        Sub categorias
      </p-one-sidenav-item>

      <p-one-sidenav-item link="/main/financial/balances">
        Contas / Cateiras
      </p-one-sidenav-item>
    </p-one-sidenav-collapse>
  </p-one-sidenav>
  <router-outlet></router-outlet>
</p-one-sidenav-container>
