<div class="container-fluid">
  <div style="text-align: center">
    <h1>POne Financeiro</h1>

    <p>
      O POne financeiro vem com a proposta de ser um sistema de controle
      financeiro fácil de usar, mas sem deixar de te dar os resultados que você
      precisa.
    </p>

    <p>
      Com o POne financeiro você poderar lançar rapidamente suas contas, e
      recebimentos, e depois acompanhalos em gáficos e tabelas, com essas
      informações você vai ter uma visão clara sobre onde está o seu dinheiro
    </p>
  </div>
  <p-one-datepicker-calendar></p-one-datepicker-calendar>
</div>
